
<section class="w-[80%] mx-auto max-w-screen-xl p-4">
  <h1 class="text-4xl text-green-600 text-center">your wish list Details</h1>

  @if (wishListProducts && wishListProducts.length > 0) {
    <div class="grid md:grid-cols-[20%_minmax(0,1fr)] items-center">
      @for(pro of wishListProducts; track pro._id) {
        <div>

          <img
            [src]="pro.imageCover"

            class="w-full object-contain py-2"
            [alt]="pro.title"
          >
        </div>

        <div class="p-8 border-b-2 border-gray-500">
          <h2 class="capitalize">title:{{ pro.title }}</h2>
          <h3 class="text-green-600">{{ pro.category.name }}</h3>
          <div class="flex justify-start items-center gap-48">
            <span class="capitalize">price {{ pro.price }} EGP</span>
          </div>
                <div class="flex justify-around items-center mt-4">
       <button (click)="deletwish(pro._id)" class="text-white flex justify-between items-center gap-4 bg-blue-300 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-300 dark:hover:bg-blue-200 dark:focus:ring-blue-400"><span> Delet</span> <i class="fa-solid fa-trash-can text-gray-700"></i></button>
      </div>
        </div>
      }

    </div>
  } @else {
    <p class="text-center text-gray-500">Your wishlist is empty.</p>
  }
</section>
